.search-wrap {
  flex: 1 1 100%;
  margin: 0 20px;

  &-input-wrap {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 500px;
  }

  input {
    background: var(--color-ui-white);
    display: block;
    width: 100%;
    height: 40px;
    padding-left: 1rem;
    padding-right: 2.2rem;
    font-size: var(--font-size-14);
    color: #222;
    text-align: left;
    border: none;
    border-radius: 25px;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: var(--color-ui-grey-5);
    }
  }

  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }

  button {
    cursor: pointer;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    right: 4px;
    width: 32px;
    height: 32px;
    background-color: var(--color-primary);
    border-radius: 50%;
    border: none;
  }
}
