:root {
  --color-primary: #ff6200;
  --color-secondary: #f2f2f2;
  --color-active: #363c47;
  --color-ui-red: #db000e;
  --color-ui-yellow: #fff400;
  --color-ui-black: #000000;
  --color-ui-white: #ffffff;
  --color-ui-grey-1: #f8f8f8;
  --color-ui-grey-2: #f9fafa;
  --color-ui-grey-3: #efefef;
  --color-ui-grey-4: #d1cfcf;
  --color-ui-grey-5: #a2a7b1;
  --color-ui-grey-6: #989898;
  --color-ui-grey-7: #707070;
  --color-ui-grey-8: #595959;
  --color-ui-grey-9: #454545;

  --font-size-9: 0.5625rem;
  --font-size-10: 0.625rem;
  --font-size-11: 0.6875rem;
  --font-size-12: 0.75rem;
  --font-size-13: 0.8125rem;
  --font-size-14: 0.875rem;
  --font-size-15: 0.9375rem;
  --font-size-16: 1rem;
  --font-size-17: 1.0625rem;
  --font-size-18: 1.125rem;
  --font-size-19: 1.1875rem;
  --font-size-20: 1.25rem;
  --font-size-22: 1.375rem;
  --font-size-24: 1.5rem;
  --font-size-26: 1.625rem;
  --font-size-28: 1.75rem;
  --font-size-30: 1.875rem;
  --font-size-32: 2rem;
  --font-size-34: 2.125rem;
  --font-size-36: 2.25rem;
  --font-size-38: 2.375rem;
  --font-size-40: 2.5rem;

  --header-height: 104px;
  --header-height-mobile: 96px;
  --padding-layout-mobile: 16px;
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: "Kanit", "Noto Sans", sans-serif;
  font-size: 16px;

  .flex {
    display: flex;
  }

  .py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .justify-end {
    justify-content: flex-end;
  }

  .text-16 {
    font-size: var(--font-size-16);
  }

  .text-20 {
    font-size: var(--font-size-20);
  }

  .text-22 {
    font-size: var(--font-size-22);
  }

  .text-24 {
    font-size: var(--font-size-24);
  }
}

.desktop {
  body {
    min-width: 900px;
  }

  // main {
  //   min-height: calc(100vh - var(--header-height));
  // }
}

.mobile {
  body {
    min-width: 360px;
    // margin: 0 16px;
    background-color: var(--color-ui-grey-2);
  }

  main {
    min-height: calc(100vh - var(--header-height-mobile));
  }
}