// @font-face {
//   font-family: 'Noto Sans';
//   font-style: normal;
//   font-weight: 400;
//   font-display: swap;
//   src: url("/fonts/Noto_Sans_400.woff2") format("woff2");
// }
// @font-face {
//   font-family: 'Noto Sans';
//   font-style: normal;
//   font-weight: 700;
//   font-display: swap;
//   src: url("/fonts/Noto_Sans_700.woff2") format("woff2");
// }
// @font-face {
//   font-family: 'Noto Sans Thai';
//   font-style: normal;
//   font-weight: 400;
//   font-stretch: 100%;
//   font-display: swap;
//   src: url("/fonts/Noto_Sans_Thai_400.woff2") format("woff2");
// }
// /* thai */
// @font-face {
//   font-family: 'Noto Sans Thai';
//   font-style: normal;
//   font-weight: 700;
//   font-stretch: 100%;
//   font-display: swap;
//   src: url("/fonts/Noto_Sans_Thai_700.woff2") format("woff2");
// }

@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/kanit-v12-thai_latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/kanit-v12-thai_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/kanit-v12-thai_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/kanit-v12-thai_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/kanit-v12-thai_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/kanit-v12-thai_latin-regular.svg#Kanit') format('svg'); /* Legacy iOS */
}