.ReactModal__Body--open {
  overflow: hidden;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

@keyframes upBoxAnimation {
  0% {
    transform: translate(-50%, calc(-50% + 20px));
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes slideLeftAnimation {
  from {
    inset: auto -512px auto auto;
  }
}
