.btn {
  cursor: pointer;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.25rem;
  text-transform: none;
  font-family: inherit;
  font-weight: 700;
  line-height: inherit;
  font-size: var(--font-size-18);

  &--disable {
    cursor: not-allowed;
    color: white;
    background-color: var(--color-ui-grey-5);
  }

  &--fade {
    color: white;
    background-color: var(--color-ui-grey-5);
  }
}

.btn--primary {
  border: none;
  color: var(--color-ui-white);
  background-color: var(--color-primary);

  &:hover {
    background-color: var(--color-primary);
  }
}

.btn--nd {
  border: none;
  color: var(--color-ui-white);
  background-color: var(--color-ui-grey-6);

  &:hover {
    background-color: var(--color-ui-grey-4);
  }
}

.btn--active {
  background-color: var(--color-ui-white);
  border: 0.125rem solid var(--color-primary);
  color: var(--color-ui-grey-7);
}
