.clock__container {
  display: flex;
  align-items: center;
  margin-left: 8px;
  font-size: var(--font-size-16);
  font-weight: 700;

  
.countdown-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 0 3px;
  border-radius: 10px;
  background-color: var(--color-ui-red);
  color: var(--color-ui-white);
}
}
