@import "../../../styles/common/slider";

$gutter-x: 16px;

.product__group {
  display: flex;
  margin-top: 6px;
  margin-left: calc($gutter-x * -0.5);
  margin-right: calc($gutter-x * -0.5);

  &-col {
    width: calc(100% / 6);
    padding-left: calc($gutter-x * 0.5);
    padding-right: calc($gutter-x * 0.5);
  }
}

.slidebar {
  margin-top: 6px;
  margin-left: calc($gutter-x * -0.5);
  margin-right: calc($gutter-x * -0.5);

  @include slider-arrow();
  @include slider-pagination();

  :global(.splide__track) {
    padding: 3px 0;
    margin: -3px 0;
  }

  ul:global(.splide__list) li {
    width: calc(100% / 6);
    padding-left: calc($gutter-x * 0.5);
    padding-right: calc($gutter-x * 0.5);
  }
}

.product__gallery--wrapper {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  :global(.splide__slide) {
    opacity: 0.6;
  }

  :global(.splide__list > .splide__slide.is-active) {
    opacity: 1;
    border: none;
  }
}
