.social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;

    svg {
        display: flex;
        align-items: center;
        width: 1.5rem;
        height: 1.5rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    
}