@import "../../../../styles/common/slider";

.brands__container {
  padding: 16px 0 32px;
  background-color: var(--color-ui-grey-1);
}

.header__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 36px;

  .title {
    font-size: var(--font-size-24);
    font-weight: 700;
  }

  .seemore {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: var(--font-size-16);

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      margin-left: 8px;
      background-color: #111;

      svg {
        width: 8px;
        height: 8px;
        color: #fff;
        stroke-width: 2.5;

        path {
          fill: currentColor;
          stroke: currentColor;
        }
      }
    }
  }
}

.slidebar {
  $gutter-x: 16px;

  margin-top: 6px;
  margin-left: calc($gutter-x * -0.5);
  margin-right: calc($gutter-x * -0.5);

  @include slider-arrow();
  @include slider-pagination();

  :global(.splide__track) {
    padding: 3px 0;
    margin: -3px 0;
  }

  ul:global(.splide__list) li {
    width: calc(100% / 10);
    padding-left: calc($gutter-x * 0.5);
    padding-right: calc($gutter-x * 0.5);
  }
}
