.container {
  min-height: calc(100vh - var(--header-height-mobile));
  padding-bottom: 24px;
  background-color: var(--color-secondary);
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin-bottom: -40px;
  background-color: var(--color-secondary);
  padding: 0 20px 0 20px;

}
