.tabs__container {
  padding: 24px 0 24px;

  .header__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 36px;

    .tab__title {
      cursor: pointer;
      position: relative;
      font-size: var(--font-size-24);
      color: var(--color-ui-red);

      &:not(:first-of-type) {
        margin-left: 72px;
      }

      svg {
        margin-right: 4px;
        margin-bottom: -1px;
        color: var(--color-ui-red);
      }

      &.active {
        pointer-events: none;
        font-weight: 700;

        .current-bar {
          opacity: 1;
        }
      }

      .current-bar {
        position: absolute;
        left: 0;
        bottom: -6px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--color-primary);
        opacity: 0;
        transition: opacity 0.7s;
      }
    }

    .tab__seemore {
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: var(--font-size-16);

      &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        margin-left: 8px;
        background-color: #111;

        svg {
          width: 8px;
          height: 8px;
          color: #fff;
          stroke-width: 2.5;

          path {
            fill: currentColor;
            stroke: currentColor;
          }
        }
      }
    }
  }

  .products__row {
    $gutter-x: 16px;
    $gutter-y: 16px;

    display: flex;
    flex-wrap: wrap;
    margin-top: calc(28px - $gutter-y);
    margin-left: calc($gutter-x * -0.5);
    margin-right: calc($gutter-x * -0.5);
    transition: all 0.35s;

    &.animate {
      opacity: 0;
      transform: scale(0.95);
    }

    .products__col {
      width: calc(100% / 6);
      padding-left: calc($gutter-x * 0.5);
      padding-right: calc($gutter-x * 0.5);
      margin-top: $gutter-y;
    }
  }
}
