.product__container {
  padding: 16px 0 32px;

  &:last-of-type {
    background-color: var(--color-ui-grey-1);
  }
}

.header__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 36px;

  .products__title {
    font-size: var(--font-size-24);
    font-weight: 700;
  }

  .products__seemore {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: var(--font-size-16);

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      margin-left: 8px;
      background-color: #111;

      svg {
        width: 8px;
        height: 8px;
        color: #fff;
        stroke-width: 2.5;

        path {
          fill: currentColor;
          stroke: currentColor;
        }
      }
    }
  }
}
