@import "../../../../styles/common/slider";

.container {
  padding: 16px 0 24px;
}

.header__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 36px;

  .title {
    font-size: var(--font-size-24);
    font-weight: 700;
  }

  .seemore {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: var(--font-size-16);

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      margin-left: 8px;
      background-color: #111;

      svg {
        width: 8px;
        height: 8px;
        color: #fff;
        stroke-width: 2.5;

        path {
          fill: currentColor;
          stroke: currentColor;
        }
      }
    }
  }
}

.content_section {
  $spac: 16px;

  display: flex;
  align-items: center;
  margin-top: 6px;

  .banner {
    width: calc((100% - $spac) / 12 * 4);
    @include slider-pagination();

    ul:global(.splide__list) li {
      display: flex;
    }

    :global(.splide__pagination) {
      bottom: 10px;
    }

    :global(.splide__pagination__page) {
      background-color: #fff;
    }
  }

  .product {
    width: calc((100% - $spac) / 12 * 8);
    margin-left: $spac;

    .slidebar {
      $gutter-x: $spac;
      margin-left: calc($gutter-x * -0.5);
      margin-right: calc($gutter-x * -0.5);

      @include slider-arrow();
      @include slider-pagination();

      :global(.splide__track) {
        padding: 3px 0;
        margin: -3px 0;
      }

      ul:global(.splide__list) li {
        width: calc(100% / 4);
        padding-left: calc($gutter-x * 0.5);
        padding-right: calc($gutter-x * 0.5);
      }
    }
  }
}
