.header {
  position: sticky;
  top: 0;
  white-space: nowrap;
  z-index: 3;

  section:nth-child(1) {
    background-color: var(--color-secondary);

    :global(.container) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 32px;
      padding: 4px 0;
      font-size: var(--font-size-13);
    }

    .header__left,
    .header__right {
      display: flex;
      align-items: center;

      > div {
        display: flex;
        align-items: center;
      }
    }

    .header__left {
      text-decoration: underline;

      > div {
        &:not(:first-child) {
          margin-left: 10px;
        }

        svg {
          margin-right: 6px;
        }
      }
    }

    .header__right {
      font-weight: 700;

      > div {
        &:not(:first-child) {
          margin-left: 30px;
        }

        svg {
          margin-right: 4px;
        }
      }
    }
  }

  section:nth-child(2) {
    background-color: var(--color-primary);
      font-size: var(--font-size-14);
      font-weight: 700;


    :global(.container) {
      display: flex;
      align-items: center;
      height: 72px;
      padding: 8px 0;
    }

    .logo {
      display: inherit;
      flex: 0 0 60px;
    }

    .btn-shoppinglist,
    .btn-sign,
    .cart-detail {
      padding: 0 12px;
    }

    .btn-shoppinglist {
      cursor: pointer;
      display: flex;
      align-items: center;
    }

    .btn-sign {
      cursor: pointer;
      display: flex;
      align-items: center;

      span {
        font-weight: 400;
        margin: 0 4px;
      }
    }

    .cart-detail {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      &-deal {
        font-size: var(--font-size-11);
        color: #505050;
      }
    }

    .btn-cart {
      cursor: pointer;
      position: relative;
      display: flex;
      padding: 9px;
      background-color: var(--color-ui-white);
      border-radius: 50%;

      svg {
        stroke-width: 0.25;

        > * {
          stroke: currentColor;
        }
      }

      .cart_badge {
        position: absolute;
        top: -11px;
        right: -7px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        background-color: red;
        border: 2.5px solid white;
        border-radius: 50%;
        font-size: var(--font-size-12);
        color: white;
      }
    }

    .barrier {
      flex: 0 0 2px;
      width: 2px;
      height: 30px;
      background-color: #333;
      border-radius: 21px;
    }
  }
}

.icon-store {
  margin-bottom: 2px;
}

.icon-shoppinglist {
  margin-right: 8px;
  margin-bottom: 2px;
}

.icon-user {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-ui-white);
  border-radius: 50%;
  padding: 4px;
  margin-right: 8px;
}

.icon-down {
  margin-left: 8px;
}

.user__dropdown {
  border-radius: 20px;
  width: 350px;
  margin: 0 0.5rem;
  background-color: var(--color-ui-white);
  display: inline-block;
  align-items: center;
  position: relative;
  cursor: pointer;

  &-active {
    display: flex;

    .user-image{
      margin: auto;
      width: 20%;
      .icon-logined {
        position: relative;
        left: 4px;
        display: block;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        border: 2px var(--color-primary) solid !important;
      }
    }


    .message-box{
      width: 78%;
      padding-left: 4px;
      padding-top: 2px;
      .name{
        letter-spacing: -0.24px;
        text-align: left;
        font-weight: 700;
        font-size: var(--font-size-12);
        color: var(--color-ui-black);
      }

      .big-card{
        display: flex;

        .icon{
          width: 20px;
          height: 20px;
          margin-right: 4px;
        }
        .subject{
          letter-spacing: -0.24px;
          font-weight: 700;
          font-size: var(--font-size-12);
          color: var(--color-primary) !important;

          .point{

          }
        }

      }

    }


    &-icon {
      position: absolute !important;
      right: 8px !important;
      top: 35%;
    }


  }

  &-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    margin-top: 0.1rem;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    span {
      display: block;
      padding: 4px 16px;
      border-radius: 12px;
      font-weight: 400;

      &:hover {
        background-color: var(--color-ui-grey-4);
      }
    }
  }

  &:hover .user__dropdown-content {
    display: block;
  }
}
