.wrapper__breadcrumb {
  margin-bottom: 1.25rem;
  padding: 10px 0;
  border-bottom: 1px solid #454545;
}

.breadcrumb {
  a:first-child {
    margin-right: 0.625rem;
  }

  a:last-child {
    color: var(--color-ui-grey-9);
  }

  span {
    vertical-align: sub;
    margin-right: 0.625rem;
    display: inline-block;
  }
}
