.hp__wrapper--hero {
  display: flex;
  padding: 16px 0;
}

.hp__categories {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(100% * 315 / 1184);
  border-radius: 10px;
  background-color: var(--color-ui-white);
  font-size: var(--font-size-14);

  &--wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &--title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 16px;
    border-radius: 10px 10px 0 0;
    background-color: var(--color-primary);
    font-weight: 700;
    line-height: 21px;

    svg {
      margin-right: 0.2rem;
    }
  }

  .sidebar__item {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.23rem 1rem 0.23rem 0;
  }

  .icon__wrapper-circle {
    background-color: rgba(147, 214, 0, 0.3);
    border-radius: 50%;
    margin-right: 0.5rem;
    width: 28px;
    height: 28px;
  }

  .icon__bigc--circle {
    color: var(--color-ui-grey-9);
    padding-top: 0.5rem;
  }

  .icon__chevron--right {
    flex: 0 0 10px;
    color: var(--color-ui-grey-9);
  }

  .icon__list--white {
    color: var(--color-ui-white);
  }

  .sidebar-container {
    position: absolute;
    height: 100%;
    padding: 10px;
  }

  .sidebar {
    height: 100%;
    overflow-y: scroll;
  }

  /* scroll width */
  ::-webkit-scrollbar {
    width: 0.625rem; // 10px
    border: none;
  }

  /* on scroll active */
  ::-webkit-scrollbar-track {
    background: var(--color-ui-grey-4);
    border-radius: 10px;
  }

  /* on scroll handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color-ui-grey-7);
    border-radius: 10px;
  }

  .wrapper__categories--item {
    width: 100%;
  }

  .categories {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__name {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      padding-right: 10px;
      font-weight: 700;
    }
  }

  .categories:hover {
    cursor: pointer;
    color: var(--color-primary);
  }

  .categories:hover .icon__chevron--right {
    color: var(--color-primary);
  }
}

.hp__wrapper--banner {
  display: flex;
  margin-left: 16px;

  img {
    border-radius: 14px;
  }
}

.hp__wrapper--thumb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 16px;

  img {
    border-radius: 14px;
  }
}

.hp__wrapper-spacer {
  position: absolute;
  right: -0.5rem;
  top: 0;
  width: 0.5rem;
  height: 100%;
}

.hp__wrapper-content {
  display: block;
  position: absolute;
  width: 100%;
  min-width: 800px;

  top: -33px;
  left: 100%;
  margin-left: 0.5rem;
  z-index: 2;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  width: 100%;
  height: auto;
  min-height: 370px;
  border-radius: 10px;
  background-color: var(--color-ui-white);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

  h3 {
    margin-bottom: 4px;
    font-weight: 700;
  }
}

/* Mega Menu header */
.dropdown-content .header {
  background: var(--color-primary);
  padding: 6px 16px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: 700;
  line-height: 21px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 0.25rem 0.5rem 1rem;
}

.column a {
  float: none;
  text-decoration: none;
  display: block;
  text-align: left;
}

.column a:hover {
  cursor: pointer;
  color: var(--color-primary);
}

.row {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  padding: 1rem 1rem 1.5rem;
}

/* Create three equal columns that floats next to each other */
.row:after {
  content: "";
  display: table;
  clear: both;
}
