@mixin text-field {
  position: relative;
  width: 100%;

  input {
    width: 100%;
    padding: 5px 14px 7px;
    border: 2px solid var(--color-ui-grey-3);
    border-radius: 8px;
    font-size: var(--font-size-16);
    outline: none;

    &:focus {
      border-color: var(--color-active);
    }

    &:focus,
    &:valid {
      ~ .floating-label {
        top: 3px;
        font-size: var(--font-size-14);
        display:none;
      } 
      ~ .floating-labelx {
        top: -65px;
        font-size: var(--font-size-14);
      }
    }
  }

  .input-register {
    width: 100%;
    padding: 5px 14px 7px;
    border: 2px solid var(--color-ui-grey-3);
    border-radius: 8px;
    font-size: var(--font-size-16);
    outline: none;

    &:focus {
      border-color: var(--color-active);
    }

    &:focus,
    &:valid {
      ~ .floating-label {
        top: 3px;
        font-size: var(--font-size-14);
        display:none;
      } 
      ~ .floating-labelx {
        top: 10px;
        font-size: var(--font-size-14);
        display:none;
      }
    }
  }

  .floating-label {
    position: absolute;
    pointer-events: none;
    top: 7px;
    left: 16px;
    font-size: var(--font-size-16);
    color: var(--color-ui-grey-5);
    transition: 0.3s;
  }

  .floating-labelx {
    position: relative;
    pointer-events: none;
    top: -32px;
    left: 16px;
    font-size: var(--font-size-16);
    color: var(--color-ui-grey-5);
    transition: 0.3s;
  }
}

@mixin text-field-password {
  @include text-field();

  button {
    cursor: pointer;
    position: absolute;
    box-sizing: content-box;
    top: 0;
    bottom: 0;
    right: 16px;
    width: 24px;
    height: 24px;
    padding: 4px;
    margin: auto;
    line-height: 0;
    color: var(--color-ui-white);

    svg {
      color: var(--color-ui-grey-7);
    }
  }
}

@mixin text-field-register {
  @include text-field();

  button {
    cursor: pointer;
    position: absolute;
    box-sizing: content-box;
    top: 0;
    bottom: 0;
    right: 16px;
    width: 24px;
    height: 24px;
    padding: 4px;
    margin: auto;
    line-height: 0;
    color: var(--color-ui-white);

    svg {
      color: var(--color-ui-grey-7);
    }
  }
}

@mixin text-field-error {
  @include text-field();

  .floating-label {
    color: var(--color-ui-red);
  }
  .floating-labelx {
    color: var(--color-ui-red);
  }
  input {
    border-color: var(--color-ui-red) !important;
    font-size: var(--font-size-16);
  }
}

@mixin text-help {
  color: var(--color-ui-grey-5);
  font-size: var(--font-size-14);
  padding-top: 4px;
  font-weight: 500;

  &.error {
    color: var(--color-ui-red) !important;
  }

  .text-error {
    color: var(--color-ui-red) !important;
  }
}
