@mixin slider-arrow {
  :global(.splide__arrow) {
    width: 40px;
    height: 40px;
    background-color: #fff;
    box-shadow: 0px 0px 7.5px 2px rgba(#000, 0.2);
    opacity: 0.8;
    transition: opacity 0.5s;

    &:disabled {
      cursor: default;
      opacity: 0;
    }

    svg {
      width: 13px;
      height: 13px;
      stroke-width: 4;

      path {
        stroke: currentColor;
      }
    }
  }

  :global(.splide__arrow--prev) {
    left: -12px;
  }

  :global(.splide__arrow--next) {
    right: -12px;
  }
}

@mixin slider-pagination {
  :global(.splide__pagination) {
    bottom: -14px;

    li {
      display: flex;
      padding: 0 2px;
    }
  }

  :global(.splide__pagination__page) {
    width: 6px;
    height: 6px;
    margin: 0px;
    background-color: #c9c8c7;
    opacity: 1;
    transition: all 0.4s;

    &:hover {
      background-color: #777;
    }
  }

  :global(.splide__pagination__page.is-active) {
    cursor: default;
    width: 28px;
    height: 6px;
    border-radius: 3px;
    opacity: 1;
    background-color: #222;
    transform: unset;
  }
}
