.categories__container {
  padding: 16px 0 24px;
}

.header__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 36px;

  .title {
    font-size: var(--font-size-24);
    font-weight: 700;
  }
}

.row {
  $gutter-x: 40px;
  $gutter-y: 16px;

  display: flex;
  flex-wrap: wrap;
  padding: 0 12px;
  margin-top: calc(6px - $gutter-y);
  margin-left: calc($gutter-x * -0.5);
  margin-right: calc($gutter-x * -0.5);

  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 10);
    padding-left: calc($gutter-x * 0.5);
    padding-right: calc($gutter-x * 0.5);
    margin-top: $gutter-y;

    .title {
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      height: 32px;
      margin-top: 10px;
      font-size: var(--font-size-14);
      line-height: 1.14;
      text-align: center;
    }
  }
}
