.highlight {
  padding: 6px 0;
  background-color: var(--color-ui-red);
  color: var(--color-ui-white);
  font-weight: 700;

  :global(.container) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-left {
    font-size: var(--font-size-24);
  }

  &-right {
    font-size: var(--font-size-36);
  }
}

.information {
  background-color: var(--color-primary);

  :global(.container) {
    display: flex;
    padding: 80px 0 30px;
    font-size: var(--font-size-14);

    > div:nth-child(1) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .topic {
        margin-top: 30px;
      }

      .social-wrap {
        display: flex;
        align-items: center;
        padding: 8px 12px 8px 8px;
        margin-top: -10px;
        border-radius: 20px;
        background-color: #eee;

        svg {
          margin: 0 14px;

          &:nth-child(1) {
            color: #239af0;
          }
          &:nth-child(2) {
            color: #11e5ed;
          }
          &:nth-child(3) {
            color: #c92fe4;
          }
          &:nth-child(4) {
            color: #db0016;
          }
        }
      }
    }

    > div:nth-child(2) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex: 1 1 100%;
      margin-left: 80px;

      > div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &:not(:first-child) {
          margin-left: 20px;
        }
      }

      .input-warp {
        display: flex;

        input {
          width: 200px;
          height: 38px;
          padding: 9px 15px;
          border: none;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
          outline: none;

          &::placeholder {
            color: var(--color-ui-grey-5);
          }
        }

        button {
          width: 100px;
          height: 38px;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
          background-color: #111;
          color: #eee;
          font-weight: 700;
        }
      }

      .download-text {
        margin-top: 60px;
      }

      .download-image-wrap {
        display: flex;

        .download-store {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-left: 20px;
        }
      }
    }

    .topic {
      margin-bottom: 11px !important;
      font-size: var(--font-size-16);
      font-weight: 700;
    }

    span {
      margin-bottom: 4px;
    }
  }
}
