$height: 64px;

.footer {
  position: sticky;
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  height: $height;
  padding: 0 var(--padding-layout-mobile) 8px;
  background-color: var(--color-ui-white);
  box-shadow: -8px -8px 8px 0 rgba(137, 137, 137, 0.13);
  font-size: var(--font-size-12);
  font-weight: 600;
  line-height: 0.67;
  color: var(--color-ui-grey-7);
  white-space: nowrap;
  transition: bottom 0.3s ease-in-out;
  z-index: 3;

  .title {
    margin: 6px 0 0;
  }

  &.hide {
    bottom: -$height;
  }

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;

    .icon-wrap {
      display: flex;
      align-items: center;
      height: 24px;
      width: 24px;
    }
  }
}
