.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  font-size: 1.5rem;
  font-weight: 700;
  border-bottom: 1px solid #aaa;

  button.close {
    cursor: pointer;
    box-sizing: content-box;
    width: 16px;
    height: 16px;
    padding: 4px;
    background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' color='rgb(22, 22, 22)'><path fill='currentColor' stroke='currentColor' stroke-width='0.25' d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/></svg>")
      center/16px auto no-repeat;
  }
}

.body {
  $col-space: 20px;
  padding: 18px;
  font-size: 1.2rem;
  font-weight: 500;

  .row {
    display: flex;
    margin-right: calc($col-space * -0.5);
    margin-left: calc($col-space * -0.5);
    margin-bottom: 15px;
  }

  .col {
    width: 50%;
    padding-right: calc($col-space * 0.5);
    padding-left: calc($col-space * 0.5);
  }

  label {
    padding-left: 2px;
  }

  input,
  select {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1.15rem;
    line-height: 1.25;
    color: #111;
    border: 1.5px solid #b1b7c1;
    border-radius: 0.25rem;
    outline: none;
    transition: border-color 0.5s linear;

    &:focus {
      border: 1.5px solid var(--color-primary);
    }
  }
  select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23636f83' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 12px;
    appearance: none;
  }

  .selector {
    display: flex;
    align-items: center;
  }

  input[type="checkbox"] {
    margin-right: 7px;
    width: 18px;
    height: 18px;
    accent-color: var(--color-primary);
  }

  .switch {
    position: relative;
    display: inline-block;
    margin-left: 30px;
    margin-right: 7px;
    width: 32px;
    height: 20px;

    input {
      opacity: 0;
      width: 0;
      height: 0;

      &:checked + span {
        background-color: var(--color-primary);
      }
      &:focus + span {
        box-shadow: 0 0 3px var(--color-primary);
      }
      &:checked + span:before {
        transform: translateX(13px);
      }
    }

    span {
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 19px;
      background-color: #ccc;
      transition: 0.4s;

      &:before {
        content: "";
        position: absolute;
        height: 14px;
        width: 14px;
        left: 3px;
        bottom: 3.5px;
        border-radius: 50%;
        background-color: white;
        transition: 0.4s;
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding: 18px;
  border-top: 1px solid #aaa;

  button {
    cursor: pointer;
    padding: 0.4rem 3rem;
    border-radius: 0.25rem;
    background-color: var(--color-primary);
    font-size: 1.2rem;
    color: #fff;
  }
}
