@import "../../styles/common/input";

.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin-bottom: -40px;
  background-color: var(--color-secondary);
  padding: 0 20px 0 20px;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 60px;
  }

  .text-field {
    @include text-field-password();
    position: relative;
    // width: 350px;

    &.error {
      @include text-field-error();
      width: 350px;
    }
  }

  button.next {
    cursor: pointer;
    width: 200px;
    padding: 13px 20px;
    margin-top: 40px;
    border-radius: 28px;
    background-color: var(--color-primary);
    font-size: var(--font-size-20);
    font-weight: 700;
    transition: 0.75s;

    &:disabled {
      cursor: not-allowed;
      background-color: #c9c8c7;
      color: #fff;
    }
  }
}
