.wrapper_user {
    margin: 0.25rem;

  .section__login {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    font-size: var(--font-size-10);
    margin: 0.25rem;

    img,
    .wrapper__msg-login {
      margin: 0.25rem;
    }

    span {
      font-weight: 400;
      margin: 0 4px;
    }
  }
}
