.header {
  position: sticky;
  top: 0;
  z-index: 3;

  .container-header {
    // height: 96px;
    padding: 0.5rem 0.4375rem;
    background-color: var(--color-primary);
  }

  .wrapper-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 36px;
    width: 100%;

    .menu-mobile {
      width:100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .logo {
      height: 36px;
      width: 36px;
      margin: 0 0.25rem;
    }
  }

  .wrapper-search {
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin: 0.5rem 0;
  }

  .wrapper-order {
    display: flex;
    align-items: center;
  }

  .barrier {
    flex: 0 0 2px;
    width: 2px;
    height: 30px;
    background-color: var(--color-ui-black);
    border-radius: 21px;
    margin-right: 0.5rem;
  }
}
