$separator-color-light: #f3f3f3;
$separator-color: #d7d7d7;
$background-color: #f8f8f8;
$foreground-color : white;
$input-background: white;

$dark-btn-background: #131113;
$light-btn-background: #ececec;
$button-text-color: #fff;

$theme-color-1: #ed7117;
$theme-color-2: #e7523e;
$theme-color-3: #d6a779;
$theme-color-4: #dba070;
$theme-color-5: #f6c797;
$theme-color-6: #d6cdca;

$primary-color: #3a3a3a;
$secondary-color: #8f8f8f;
$muted-color: #909090;

$gradient-color-1 : #f0701a;
$gradient-color-2 : #ce6520;
$gradient-color-3 : #da6b22;

$lp-bg-color-1 : #af4b03;
$lp-bg-color-2 : #bb5308;
$lp-bg-color-3 : #ed7117;
$lp-bg-color-4 : #ff8935;

$shadow-offsets-top : 1 3 10 14 19;
$shadow-blurs-top: 1.5 5 10 14 19;
$shadow-opacities-top: 0.04 0.1 0.19 0.25 0.3;

$shadow-offsets-bottom : 1 3 6 10 15;
$shadow-blurs-bottom: 3 6 6 5 6;
$shadow-opacities-bottom: 0.04 0.1 0.2 0.22 0.22;

$logo-path: "/assets/logos/1hopin.png";
$logo-path-mobile: "/assets/logos/1hopin.png";

$lp-logo-path: "/assets/logos/1hopin.png";
$lp-logo-path-pinned: "/assets/logos/1hopin.png";

@import "../main.scss";
