@import "../../../styles/common/input";

.red {
  color:red;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin-bottom: -40px;
  background-color: var(--color-ui-white);
  padding: 0 20px 0 20px;

  .text-field {
    @include text-field-password();
    position: relative;
    width: 25%;
    // width: 350px;

    &.error {
      @include text-field-error();
      width: 350px;
    }
  }

  button.next {
    cursor: pointer;
    width: 360px;
    padding: 8px 20px;
    margin-top: 50px;
    border-radius: 28px;
    background-color: var(--color-primary);
    font-size: var(--font-size-20);
    font-weight: 700;
    transition: 0.75s;
    height:50px;
    color: var( --color-ui-white);

    &:disabled {
      cursor: not-allowed;
      background-color: #535965;
      color: #fff;
    }
  }

  span{
    font-size: var(--font-size-24);
   }

  p{
   padding-bottom: 30px; 
   font-weight: 100;
  }
}

.logindiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.loginspan {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  font-weight: 100;
}

.logoimg{
  padding-bottom: 150px;
}

.logoimgWithtext{
  padding-bottom: 40px;
}

.regisdiv{
  padding-top:50px;
}


.login_mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // width: 100%;
  height: 100vh;
  margin-bottom: -40px;
  background-color: var(--color-ui-white);
  padding: 0 30px 0 30px;

  .text-field {
    @include text-field-password();
    position: relative;
    // width: 300px;

    &.error {
      @include text-field-error();
      width: 350px;
    }
  }

  .text-field-register {
    padding-top:70px;
    @include text-field-register();
    position: relative;
    // width: 300px;

    &.error {
      @include text-field-error();
      width: 350px;
    }
  }

  button.next {
    cursor: pointer;
    width: 100%;
    padding: 13px 20px;
    margin-top: 50px;
    border-radius: 28px;
    background-color: var(--color-primary);
    font-size: var(--font-size-16);
    font-weight: 600;
    transition: 0.75s;
    height:50px;
    color: var( --color-ui-white);

    &:disabled {
      cursor: not-allowed;
      background-color: #535965;
      color: #fff;
    }
  }

  span.loginspan {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    font-weight: 100;
    font-size: var(--font-size-14);
  }

  div.regisdiv span{
    padding-top:50px;
    font-weight: 100;
    font-size: var(--font-size-14);
  }

  span{
    font-size: var(--font-size-24);
   }

  p{
   padding-bottom: 30px; 
   font-weight: 100;
  }
}
