.language {
  cursor: default;
  position: relative;

  &:hover .language-dropdown {
    visibility: visible;
    opacity: 1;
  }

  &-menu {
    display: flex;
    align-items: center;
    padding: 0 3px 0 6px;
    background-color: var(--color-ui-white);
    border: 2px solid var(--color-primary);
    border-radius: 12px;

    span {
      display: flex;
      justify-content: center;
      width: 32px;
    }

    svg {
      margin-right: 2px !important;
    }
  }

  &-dropdown {
    display: block;
    visibility: hidden;
    position: absolute;
    top: 28px;
    padding: 5px;
    background-color: var(--color-ui-white);
    border-color: var(--color-ui-white);
    border-radius: 12px;
    box-shadow: 0px 0px 3px 1px rgb(0 0 0 / 25%);
    line-height: 1;
    opacity: 0;
    transition: all 0.5s;
    z-index: 1;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 28px;
      padding-right: 10px;

      &.current {
        color: var(--color-primary);
      }
      &:last-child {
        cursor: pointer;
      }
    }
  }
}
