.banner__promotional {
  margin-top: 1rem;
}

// mobile device
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .home__banner {
    padding-top: 0;
  }
}

.banners__wrapper {
  $gutter-x: 16px;

  display: flex;
  padding: 16px 0;
  margin-left: calc($gutter-x * -0.5);
  margin-right: calc($gutter-x * -0.5);

  &-banner {
    padding-left: calc($gutter-x * 0.5);
    padding-right: calc($gutter-x * 0.5);
  }
}
