$fadeTime: 0.5s;

.header {
  position: relative;
  min-height: 73.33px;
  padding: 22px;
  background-color: var(--color-primary);
  font-size: var(--font-size-20);
  font-weight: 700;
  text-align: center;

  button.back {
    cursor: pointer;
    position: absolute;
    box-sizing: content-box;
    top: 0;
    bottom: 0;
    left: 24px;
    width: 24px;
    height: 24px;
    padding: 4px;
    margin: auto;
    background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' color='rgb(22, 22, 22)'><path fill='currentColor' stroke='currentColor' stroke-width='0.25' d='M12.707 18.293l-5.293-5.293h11.586c0.552 0 1-0.448 1-1s-0.448-1-1-1h-11.586l5.293-5.293c0.391-0.391 0.391-1.024 0-1.414s-1.024-0.391-1.414 0l-7 7c-0.096 0.096-0.168 0.206-0.217 0.324-0.051 0.122-0.076 0.253-0.076 0.383 0 0.256 0.098 0.512 0.293 0.707l7 7c0.391 0.391 1.024 0.391 1.414 0s0.391-1.024 0-1.414z'/></svg>")
      center/24px auto no-repeat;
    transition: opacity $fadeTime;

    &:disabled {
      cursor: default;
    }
  }

  span {
    color: #161616;
    transition: opacity $fadeTime;
  }

  button.close {
    cursor: pointer;
    position: absolute;
    box-sizing: content-box;
    top: 0;
    bottom: 0;
    right: 30px;
    width: 14px;
    height: 14px;
    padding: 4px;
    margin: auto;
    background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' color='rgb(22, 22, 22)'><path fill='currentColor' stroke='currentColor' stroke-width='0.25' d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/></svg>")
      center/14px auto no-repeat;
  }
}

.body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 64px 64px;
  color: #161616;
  overflow-y: scroll;
  transition: opacity $fadeTime;

  .title {
    margin-top: 30px;
    font-size: var(--font-size-20);
    font-weight: 700;
  }

  .subtitle {
    margin-top: 10px;
    font-size: var(--font-size-18);
    font-weight: 700;
  }

  p.terms {
    margin-top: 4px;
  }
}

.fade {
  opacity: 0;
}
