@import "../../../../styles/common/input";

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 350px;
  flex: 1 1 100%;

  .condition-wrapper {
    margin-top: 14px;

    p {
      display: flex;
      align-items: center;
      margin-left: 10px;
      color: #c9c8c7;
      transition: color 1s;

      &:not(:first-child) {
        margin-top: 4px;
      }

      &.passed {
        color: #161616;

        svg {
          color: var(--color-primary);
        }
      }

      svg {
        margin-right: 4px;
        color: #c9c8c7;
      }
    }
  }

  .text-field {
    @include text-field-password();

    &:last-of-type {
      margin-top: 40px;
    }

    &.error{
      @include text-field-error();
    }
  }
}

.text-help{
  @include text-help();
}

.bottom {
  .terms {
    display: flex;
    align-items: flex-start;
    margin-bottom: 16px;
    font-size: var(--font-size-16);

    &:last-of-type {
      margin-bottom: 22px;
    }

    input[type="checkbox"] {
      flex: 0 0 22px;
      width: 22px;
      height: 22px;
      margin: 0;
      margin-top: 2px;
      margin-right: 10px;
      accent-color: var(--color-primary);
    }

    .txt-link {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

button.next {
  cursor: pointer;
  width: 100%;
  padding: 13px 20px;
  border-radius: 28px;
  background-color: var(--color-primary);
  font-size: var(--font-size-20);
  font-weight: 700;
  transition: 0.75s;

  &:disabled {
    cursor: not-allowed;
    background-color: #c9c8c7;
    color: #fff;
  }
}
