@import "../../../../styles/common/input";

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  flex: 1 1 100%;

  .subtiitle {
    font-size: var(--font-size-32);
    font-weight: 700;
  }

  .desc {
    font-size: var(--font-size-20);
  }

  .text-field {
    @include text-field();
    margin-top: 40px;
  }

  .field-error{
    border-color: var(--color-ui-red) !important;
  }


  .phone-example {
    width: 100%;
    margin-top: 5px;
    color: #c9c8c7;
    font-size: var(--font-size-14);
  }

  .error-phone {
    width: 100%;
    margin-top: 5px;
    color: var(--color-ui-red);
  }
}

button.next {
  cursor: pointer;
  width: 100%;
  padding: 13px 20px;
  border-radius: 28px;
  background-color: var(--color-primary);
  font-size: var(--font-size-20);
  font-weight: 700;
  transition: 0.75s;

  &:disabled {
    cursor: not-allowed;
    background-color: #c9c8c7;
    color: #fff;
  }
}
