.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  flex: 1 1 100%;

  .title {
    font-size: var(--font-size-28);
    font-weight: 700;
    text-align: center;
  }

  .subtitle {
    margin-top: 10px;
    font-size: var(--font-size-20);
    color: #595959;
    text-align: center;
  }

  .image-wrapper {
    margin-top: 32px;
  }

  .shopping-txt {
    cursor: pointer;
    margin-top: 70px;
    margin-bottom: 20px;
    font-size: var(--font-size-20);
    font-weight: 700;

    svg {
      margin-left: 4px;
      margin-bottom: -2px;
    }
  }
}

button.next {
  cursor: pointer;
  width: 100%;
  padding: 13px 20px;
  border-radius: 28px;
  background-color: var(--color-primary);
  font-size: var(--font-size-22);
  font-weight: 700;
  transition: 0.75s;

  &:disabled {
    cursor: not-allowed;
    background-color: #c9c8c7;
    color: #fff;
  }
}
