@import "../../../../styles/common/input";

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 250px;
  flex: 1 1 100%;

  .subtiitle {
    font-size: var(--font-size-18);

    b {
      font-weight: 700;
    }
  }

  .text-field {
    @include text-field-password();
    margin-top: 8px;

    &.error{
      @include text-field-error();
    }
  }



  .forget-txt {
    margin-top: 16px;
    text-align: right;

    span {
      cursor: pointer;
      color: #595959;
      text-decoration: underline;
      font-size: var(--font-size-14);
    }
  }
}

button.next {
  cursor: pointer;
  width: 100%;
  padding: 13px 20px;
  border-radius: 28px;
  background-color: var(--color-primary);
  font-size: var(--font-size-20);
  font-weight: 700;
  transition: 0.75s;

  &:disabled {
    cursor: not-allowed;
    background-color: #c9c8c7;
    color: #fff;
  }
}

.text-help{
  @include text-help();
}
