.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  flex: 1 1 100%;

  .subtitle {
    font-size: var(--font-size-18);
  }

  .phone-number-txt {
    margin-top: 28px;
    font-size: var(--font-size-26);
    font-weight: 700;
  }

  .otp-ref-txt {
    margin-top: 24px;
    font-size: var(--font-size-23);
    font-weight: 700;
  }

  .otp-number-wrapper {
    justify-content: space-around;
    width: 100%;
    margin: 24px;

    .otp-number {
      width: 46px !important;
      height: 56px;
      border-radius: 8px;
      border: solid 2px #c9c8c7;
      font-size: var(--font-size-32);
      font-weight: 700;
      color: var(--color-primary);
      outline: none;
    }

    .otp-number-focus {
      border: solid 3px #70aa00;
    }
  }

  .otp-resend-txt {
    display: flex;
    align-items: center;
    margin-top: 52px;
    font-size: var(--font-size-16);
    color: #c9c8c7;

    svg {
      margin-right: 6px;
    }

    span {
      margin-left: 6px;
      color: var(--color-ui-red);
    }
  }
}

button.next {
  cursor: pointer;
  width: 100%;
  padding: 13px 20px;
  border-radius: 28px;
  background-color: var(--color-primary);
  font-size: var(--font-size-22);
  font-weight: 700;
  transition: 0.75s;

  &:disabled {
    cursor: not-allowed;
    background-color: #c9c8c7;
    color: #fff;
  }
}
