@import "../../../../styles/common/input";

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  flex: 1 1 100%;

  .subtiitle {
    width: 100%;
    margin-top: 42px;
    font-size: var(--font-size-20);

    b {
      font-weight: 700;
    }
  }

  .desc {
    font-size: var(--font-size-22);
  }

  .text-field {
    @include text-field();
    margin-top: 8px;

    &.error{
      @include text-field-error();
    }
  }

  .phone-example {
    width: 100%;
    margin-top: 5px;
    color: #c9c8c7;
  }
}

button.next {
  cursor: pointer;
  width: 100%;
  padding: 13px 20px;
  border-radius: 28px;
  background-color: var(--color-primary);
  font-size: var(--font-size-22);
  font-weight: 700;
  transition: 0.75s;

  &:disabled {
    cursor: not-allowed;
    background-color: #c9c8c7;
    color: #fff;
  }
}

.text-help{
  @include text-help();
}