.container {
  padding: 32px 0 40px;
  background-color: #e6ffd5;
}

.header__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 36px;

  .title {
    font-size: var(--font-size-24);
    font-weight: 700;
  }
}

.row {
  $gutter-x: 24px;
  $gutter-y: 16px;

  display: flex;
  margin-top: calc(6px - $gutter-y);
  margin-left: calc($gutter-x * -0.5);
  margin-right: calc($gutter-x * -0.5);

  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 5);
    padding-left: calc($gutter-x * 0.5);
    padding-right: calc($gutter-x * 0.5);
    margin-top: $gutter-y;

    .title {
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      height: 24px;
      margin-top: 20px;
      font-size: var(--font-size-16);
      font-weight: 700;
      text-align: center;
    }

    .barrier {
      width: 40px;
      height: 2px;
      margin-top: 8px;
      border-radius: 1px;
      background-color: var(--color-primary);
    }

    .desc {
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      max-width: 175px;
      height: 32px;
      margin-top: 10px;
      font-size: var(--font-size-13);
      line-height: 1.23;
      text-align: center;
    }
  }
}
