.error__card {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    background:#fff;
    padding: 0.5rem;
    margin: 0 auto 1.25rem auto;
    
    &--item {
        width: 100%;
        border-radius: 0.4375rem;
        padding: .75rem 0.5rem;
        height:700px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:var( --color-ui-grey-2);
    }
}

@media screen and (max-width: 576px) {
    .error__card {
        width: 100%;
        max-width: 170px;

        &--img {
            display: flex;
            justify-content: center;
            img {
                min-height: 152px;
                height: 100%;
                width: 100%;
                transition: all 0.2s ease-in-out;
            }
        }
    }
  }